# Dataset
DATASET_PATH=../DataP1/fraud_dataset/

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_EXPERIMENT_NAME=m1spar-p1-fraude

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=transactions

# Databricks (optionnel)
DATABRICKS_HOST=https://xxxx.azuredatabricks.net
DATABRICKS_TOKEN=dapi_xxx

# AWS EMR (optionnel)
AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=xxx
AWS_REGION=eu-west-1
S3_BUCKET=m1spar-p1-fraude
